// color
$text-color-1: #fff;
$text-color-2: #6e6e73;
$bg-color-1: #1b1b22;
$bg-color-2: #27262e;
$border-color-1: #3a3a41;
$border-color-2: #636366;
$markline-color: rgb(70, 148, 238);

// size
$header-height: 66px;
$left-sidebar-width: 280px;
$right-sidebar-width: 300px;
$fixed-gutter: 20px;
$fixed-border-radius: 10px;
$gutter: 20px;