@import "./var.scss";

// 编辑器
.editor {
    position: fixed;
    left: $fixed-gutter;
    top: $fixed-gutter;
    right: $fixed-gutter;
    bottom: $fixed-gutter;
    border-radius: $fixed-border-radius;
    color: $text-color-2;
    overflow: hidden;

    &-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $header-height;
        background-color: $bg-color-1;
        color: $text-color-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        border-bottom: 1px solid $border-color-1;

        &-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                margin-right: 10px;
            }

            span {
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                transform: translateY(0.1em);
            }
        }

        &-toolbar {
        }
    }

    &-left-sidebar,
    &-right-sidebar {
        position: absolute;
        top: $header-height;
        bottom: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    &-left-sidebar {
        background-color: $bg-color-2;
        left: 0;
        width: $left-sidebar-width;
        border-right: 1px solid $border-color-1;
    }

    &-right-sidebar {
        background-color: $bg-color-2;
        right: 0;
        width: $right-sidebar-width;
        border-left: 1px solid $border-color-1;
    }

    &-container {
        background-color: $bg-color-1;
        padding: $header-height $right-sidebar-width 0 $left-sidebar-width;
        box-sizing: border-box;
        height: 100%;
        transition: all 0.3s;

        &__wrapper {
            overflow: auto;
            height: 100%;
            // border: 1px solid $border-color-1;
            // border-top: none;
            // border-bottom: none;
            box-sizing: border-box;
        }
    }

    .editor-canvas {
        margin: $gutter auto;
        background-color: $bg-color-2;
        position: relative;
    }

    .preview-canvas {
        margin: $gutter auto;
        background-color: $bg-color-2;
        position: relative;
    }

    // 区块组件
    .block-item {
        position: absolute;
    }

    // 编辑状态
    &.is--editing {
        .block-item {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
            }

            &.is--focused {
                &:after {
                    border: 2px dashed rgb(255, 89, 0);
                }
            }
        }
    }

    // 预览状态
    &.is--preview {
        .editor-left-sidebar {
            transform: translateX(-100%);
        }
        .editor-right-sidebar {
            transform: translateX(100%);
        }
        .editor-container {
            padding: $header-height 0 0 0;
        }
    }
}

// 物料库组件
.component-lib {
    $menu-width: 90px;
    $menu-item-height: 50px;
    $component-item-size: 64px;

    display: flex;
    height: 100%;

    &__menu {
        flex: $menu-width 0 0;
        border-right: 1px solid $border-color-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: $gutter 0;
    }

    &__content {
        flex: 1;
        padding: $gutter 0 $gutter $gutter;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .menu-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: $component-item-size;
        margin-bottom: $gutter;
        cursor: pointer;

        &.is--active {
            color: $text-color-1;
        }

        &__icon {
            font-size: 24px;
        }
        &__name {
            margin-top: 5px;
        }
    }

    .component-item {
        @include hover-mask;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: $component-item-size;
        height: $component-item-size;
        border-radius: 3px;
        border: 1px dashed $border-color-2;
        margin-bottom: $gutter;
        margin-right: $gutter;
        cursor: grab;

        &__icon {
            font-size: 20px;
        }
        &__name {
            font-size: 13px;
            margin-top: 5px;
        }
    }
}

// 参考线组件
.markline {
    position: absolute;

    &-x {
        top: 0;
        bottom: 0;
        border-left: 1px dashed $markline-color;
    }

    &-y {
        left: 0;
        right: 0;
        border-top: 1px dashed $markline-color;
    }
}

// 侧边栏面板组件
.sidebar-panel {
    $header-height: 50px;

    height: 100%;

    &__header {
        height: $header-height;
        line-height: $header-height;
        box-sizing: border-box;
        border-bottom: 1px solid $border-color-1;
    }

    &__body {
        height: calc(100% - #{$header-height});
        overflow: auto;
    }
}

// 属性编辑器
.props-editor {
    padding: $gutter;
}
